@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: poppins, Helvetica, sans-serif;
}

body {
    overflow-x: hidden;
}

@font-face {
    font-family: "Glacial Indifference";
    src:
        url("/fonts/GlacialIndifference-Regular.woff2") format("woff2"),
        url("/fonts/GlacialIndifference-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
